@import url(platform.scss);
Page {
    background-color: white;
    font-size: 18;
}
TextField {
    padding: 10;
    font-size: 18;
}
.submit-button {
    background-color: #CB1D00;
    color: thistle;
    margin-top: 20;
    font-size: 18;
}
StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    font-size: 18;
    background-color: whitesmoke;
}
Image {
    margin-top:5;
    margin-bottom: 20;
    width: 400px;
    height:400px;
}