<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Test"></Label>
</ActionBar>

<!-- <GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf6be;"></Label>
    <Label class="page__content-placeholder" text="Esta es una página de prueba"></Label>
</GridLayout> -->
<StackLayout>
    <image src="res://icon" strech="none" horizontalAlignment="center"></image>
    <TextField hint="Email Address" keyboardType="email"autocorrect="false"autocapitalizationType="none"></TextField>
    <TextField hint="Password" secure="true"></TextField>
    <button text="Sing in" class="submit-button"></button>
    <button text="Sing up for your tickets"></button>
</StackLayout>